@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{ var AppTitle = "PeerReviewWeb"; }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @AppTitle</title>

    @{/* We'll use source code pro frequently enough to justify loading it into every page? */}
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/semantic/dist/semantic.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css"
              asp-fallback-href="~/lib/semantic/dist/semantic.min.css"
              asp-fallback-test-class="transition"
              asp-fallback-test-property="animation-iteration-count"
              asp-fallback-test-value="1" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="ui inverted menu">
        <div class="ui container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="header item"><i class="icon graduation cap"></i>@AppTitle</a>
            @if ((await UserManager.GetUserAsync(User))?.IsAdmin ?? false) {
                <a class="item" asp-controller="Course" asp-action="Index"><i class="icon wrench"></i>Manage Courses</a>
            }
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
    <div class="ui container body-content">
        @RenderBody()
    </div>
        
    <div class="ui vertical inverted footer segment">
        <div class="ui center aligned container">
            <p><i class="icon graduation cap"></i><b>@AppTitle</b> &copy; 2018 - William Temple</p>
            <a href="http://www.playfulcomputation.group"><img src="~/images/lpc.png" class="ui centered tiny image"></a>
            <div class="ui horizontal inverted small divided link list">
                <a class="item" ref="https://goo.gl/forms/y6hiWjDombTBO0cv1"><i class="icon wpforms"></i>File Feedback</a>
                <a class="item" href="https://github.com/willmtemple/prwebapp"><i class="icon github"></i> GitHub</a>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/semantic/dist/semantic.js"></script>
        <script src="~/lib/showdown/dist/showdown.js"></script>
        <script src="~/lib/ace/dist/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"
                asp-fallback-src="~/lib/semantic/dist/semantic.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.site"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/lib/showdown/dist/showdown.js.min"></script>
        <script src="~/lib/ace/dist/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @{/* No good way to load this from a CDN as far as I know.*/}

    @RenderSection("Scripts", required: false)
</body>
</html>
