@using PeerReviewWeb.Models.CourseModels
@model Submission

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Stage @Model.AssignmentStage.Seq</h3>
	</div>
	<div class="panel-body">
		<label>Date &amp; Time</label> @Model.TimeStamp

	    <p><label>Submission Text:</label></p>
		<div class="mdfmt">@Model.SubmissionText</div>

		<p><label for="filelist">Files:</label></p>
		<ul id="filelist" class="list-group">
		@foreach (FileRef file in Model.Files) {
			<li class="list-group-item">
				<a asp-controller="Files" asp-action="Get" asp-route-id="@file.ID">
					@file.Name
				</a>
			</li>
		}
		</ul>
	</div>
</div>