@model PeerReviewWeb.Models.HomeViewModels.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="padding-top: 20px">
    @foreach (Notification n in Model.Notifications) {
        <div class="@n.Class">
            <strong>Info</strong>
            @n.Message
            <a class="alert-link" asp-controller="@n.Controller" asp-action="@n.Action" asp-route-id="@n.RouteId">
                Click here to view it.
            </a>
        </div>
    }
    @if (Model.ActiveCourses.Count != 0) {
        @foreach (Course c in Model.ActiveCourses) {
            @await Html.PartialAsync("Course.cshtml", c)
        }
    } else {
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            You are not enrolled in any courses. Please ask an instructor to enroll you.
        </div>
    }
</div>
