@using PeerReviewWeb.Models.AssignmentViewModels
@model InstructorDetailsViewModel

@{
	ViewData["Title"] = Model.Assignment.Name;
}

<div class="container">
	<h2>@Model.Assignment.Name</h2>
	<p><b>Course: </b>@Model.Assignment.Course.Name</p>
	<hr \>
	<h3>Instructions</h3>
	<p>@Model.Assignment.Description</p>

	<h3>Stages</h3>
	<ul class="list-group">
    	@foreach (AssignmentStage s in Model.Assignment.Stages.OrderBy(s => s.Seq)) {
        	<li class="list-group-item">
            	<b>@s.Seq</b>
            	@s.Id
        	</li>
    	}
    	<li class="list-group-item">
    		<a asp-controller="Assignment" asp-action="CreateStage" asp-route-forAssignment="@Model.Assignment.ID">
        		<i class="glyphicon glyphicon-plus"></i> Add Stage
    		</a>
    	</li>
	</ul>
	@if (Model.IncompleteReviews.Count > 0) {
		<h3>Incomplete Peer Reviews</h3>
		<table class="table">
			<thead>
				<tr>
					<th>Email</th>
					<th>Date Assigned</th>
					<th>GUID</th>
				</tr>
			</thead>
			<tbody>
				@foreach (ReviewAssignment ra in Model.IncompleteReviews) {
					@await Html.PartialAsync("_ReviewAssignment", ra)
				}
			</tbody>
		</table>
	} 
	@if (Model.Submissions.Count > 0) {
		<h3>Student Submissions</h3>
		@foreach (ExtendedSubmission s in Model.Submissions) {
			@await Html.PartialAsync("_ExtendedSubmission", s)
		}
	}
</div>
